h-auto {
    height: auto;
}

h-screen {
    height: 100vh;
}

w-auto {
    height: auto;
}

w-screen {
    width: 100vw;
}

snap-x {
    scroll-snap-type: x mandatory;
}

snap-y {
    scroll-snap-type: y mandatory;
}

overflow-scroll {
    overflow: scroll;
}

overflow-hidden {
    overflow: hidden;
}

scroll-smooth {
    scroll-behavior: smooth;
}