.marginNone {
    margin: 0rem 0rem 0rem 0rem;
}

.hScreen {
    height: 100vh;
}

.wScreen {
    width: 100vw;
}

.hFull {
    height: 100%;
}

.wFull {
    width: 100%;
}

.snapX {
    scroll-snap-type: x mandatory;
}

.snapY {
    scroll-snap-type: y mandatory;
}

.overflowScroll {
    overflow: scroll;
}

.overflowHidden {
    overflow: hidden;
}

.scrollSmooth {
    scroll-behavior: smooth;
}

.flex {
    display: flex;
}
